<nav class="navbar navbar-default">
	<!-- Toggle button-->
	<div class="navbar-header">
	    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	    </button>
	    <a class="navbar-brand" href="#/">FoodieJournal</a>
	</div>
	<!-- Login button-->
	<div class="dropdown nav navbar-nav navbar-right">
	    <a ng-href="#/" class="dropdown-toggle user-menu" data-toggle="dropdown" role="button" aria-expanded="false">Hello, Accenture
	        <img src="images/avatar.png" height="60px" class="img-circle" alt="Avatar">
	        <span class="caret"></span>
	    </a>
	    <ul class="dropdown-menu" role="menu">
	        <li><a href="#">My account</a>
	        </li>
	        <li class="divider"></li>
	        <li><a href="#" id="logout">Logout</a>
	        </li>
	    </ul>
	</div>
	<!-- Menu buttons-->
	<div id="menu" class="collapse navbar-collapse">
	    <ul class="nav navbar-nav">
					<li class="active"><a href="#/">Home</a></li>
	        <li><a href="#journey">Journey</a></li>
					<li><a href="#about">About Us</a></li>
					<li><a href="#summary">Summary</a></li>
					<li><a href="#task">Task</a></li>
	    </ul>
	</div>
</nav>
